<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxs.mapper.EmpMapper">
    <delete id="deleteByIds">
        <!--批量删除员工基本信息-->
        delete from emp where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
    <!--resultType:查询返回的单条记录所封装的类型-->
    <select id="list" resultType="com.xxs.pojo.Emp">
        select e.*, d.name deptName from emp e left join dept d on e.dept_id = d.id
        <where>
            <if test="name != null and name !=''">
            e.name like concat('%',#{name},'%')
          <!-- 因为#{}无法包括在引号内部，所以使用字符串拼接函数concat，来进行%name%的模糊匹配-->
            </if>
          <if test="gender != null">
          and e.gender = #{gender}
          </if>
          <if test="begin != null and end != null">
            and e.entry_date between #{begin} and #{end}
          </if>
        </where>
        order by e.update_time
    </select>

<!--    根据id查询员工信息以及工作经历信息-->
    <select id="getById" resultMap="empResultMap">
        select e.*,
               ee.id ee_id,
               ee.emp_id ee_empid,
               ee.begin ee_begin,
               ee.end ee_end,
               ee.company ee_company,
               ee.job ee_job
        from emp e left join emp_expr ee on e.id = ee.emp_id
        where e.id = #{id};
    </select>

<!--    定义resultMap-->
    <resultMap id="empResultMap" type="com.xxs.pojo.Emp">
        <id column="id" property="id"/>     <!--主键id标签使用id字段进行封装-->
        <result column="username" property="username"/> <!--普通属性使用result标签封装-->
        <result column="password" property="password" />
        <result column="name" property="name" />
        <result column="gender" property="gender" />
        <result column="phone" property="phone" />
        <result column="job" property="job" />
        <result column="salary" property="salary" />
        <result column="image" property="image" />
        <result column="entry_Date" property="entryDate" />
        <result column="dept_Id" property="deptId" />
        <result column="create_Time" property="createTime" />
        <result column="update_Time" property="updateTime" />
<!--        封装员工工作经历信息，使用collection标签封装集合-->
        <collection property="exprList" ofType="com.xxs.pojo.EmpExpr">
            <id column="ee_id" property="id"/>
            <result column="ee_empid" property="empId"/>
            <result column="ee_begin" property="begin"/>
            <result column="ee_end" property="end"/>
            <result column="ee_company" property="company"/>
            <result column="ee_job" property="job"/>
        </collection>
    </resultMap>

</mapper>